h1 {
    font-size: 48px;
    color: rgb(71, 62, 62);
    margin: 15px 0;
}

a {
    background-color: rgb(167, 1, 78);
    padding: 12px 48px;
    color: #fff;
    border: 1px solid rgb(167, 1, 78);
    border-radius: 30px;
    font-size: 24px;
}

a:hover {
    background-color: rgb(180, 12, 90);
    text-decoration: none;
}

ol {
    list-style: none;
    width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li {
    padding: 16px;
    margin: 32px;
    background-color: rgb(223,136,124);
    border-radius: 6px;
}